/* Font Imports */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/2tsd397wLxj96qwHyNIkxPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* HTML default settings */

html {
	font-family: 'Helvetica', sans-serif;
	color: #3b3c3d;
}

/* Body margin reset */

body {
	margin: 0;
}

/* Header */

header {
	width: 100%;
	position: fixed;
	background-color: white;
	z-index: 1;
}

.header-container {
	display: flex;
	align-items: center;
	height: 64px;
    margin-left: 24px;
    margin-right: 24px;
}

.header-container .logo-container {
	display: flex;
	flex-grow: 1;
	align-items: center;
	height: 32px;
}

.header-container .logo {
	font-size: 22px;
	font-family: "Roboto";
}

.header-container .logo-img {
	height: 54px;
}

.header-container .logo-img img {
	height: 54px;
}

.header-container .logo .colmar {
	font-weight: bold;
}

.header-container .links-container .link {
	padding: 0 0 0 16px;
}

.header-container .links-container .link a {
	text-decoration: none;
	color: black;
}

/* Banner */

.banner-container {
	background-color: lightgrey;
	padding-top: 64px;
	display: flex;
}

.banner-content {
	display: flex;
	margin: 32px 0 32px 24px;
	width: 100%;
}

.banner-img {
	width: 60%;
}

.banner-img img {
	width: 100%;
}

.banner-text-container {
	margin-left: 24px;
	display: flex;
	width: 40%;
	align-items: center;
}

.banner-text-content {
	width: 100%;
    font-size: 24px;
}

.banner-text h1 {
	width: 79%;
}

.banner-text p {
	width: 79%;
}

.banner-button {
	background-color: #3b3c3d;
	padding: 8px 0;
	display: flex;
	justify-content: center;
	width: 79%;
}

.banner-button a{
	text-decoration: none;
	color: white;
}

/* Information */

.information-container {
	display: flex;
}

/* Main Information */

.information-main-container {
	width: 60%;
	padding: 32px 24px 32px 24px;
}

.information-main-img {
	margin-bottom: 32px;
}

.information-main-img img {
	width: 100%;
	margin-bottom: -4px
}

.information-main-text h1 {
	margin-top: 0;
	margin-bottom: 24px;
}

.information-main-text p {
	margin-bottom: 0;
	padding-bottom: 24px;
}

.information-main-text .reference {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 24px;
}

/* Side Informantion */

.information-side {
	width: 40%;
	padding-top: 32px;
	border-left: 1px solid lightgrey;
}

.side-container {
	display: flex;
	align-items: center;
	height: auto;
	border-bottom: 1px solid lightgrey;
	padding-left: 16px;
}

.side-img {
	padding-bottom: 12px;
	width: 35%;
}

.side-img img {
	width: 100%;
}

.information-campus {
	padding-top: 16px;
}

.information-text-container {
	width: 65%;
}

.information-text {
	padding-left: 16px;
}

.information-text h2 {
	margin-top: 0;
	margin-bottom: 8px;
}

.information-text p {
	margin-top: 8px;
	margin-bottom: 8px;
}

.information-guest {
	padding-top: 16px;
	background-color: lightgrey;
}

/* Start learning */

.course-container {
	background-color: lightgrey;
}

.course-container h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 32px;
    display: flex;
    justify-content: center;
}

.course-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 32px 72px 0 72px;
}

.course {
	background-color: white;
	width: 30%;
	margin-right: 32px;
	margin-bottom: 32px;
}

.course-img {
	height: auto;
}

.course-img img {
	height: auto;
	width: 100%;
}

.course-text {
	padding-left: 16px;
}

.course-text h2 {
	margin-top: 12px;
}

.course-text p:nth-child(2n + 1) {
	margin-bottom: 24px;
}


/* Thesis Exhibit*/
/* Reimagine urban */



/* Minor thesis */



/* Footer */