/* Font Imports */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/2tsd397wLxj96qwHyNIkxPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* HTML default settings */

html {
	font-family: 'Helvetica', sans-serif;
}

/* Body margin reset */

body {
	margin: 0;
}

/* Header */

header {
	width: 100%;
}

.header-container {
	display: flex;
	align-items: center;
	height: 64px;
    margin-left: 24px;
    margin-right: 24px;
}

.header-container .logo-container {
	display: flex;
	flex-grow: 1;
	align-items: center;
	height: 32px;
}

.header-container .logo {
	font-size: 22px;
	font-family: "Roboto";
}

.header-container .logo-img {
	height: 54px;
}

.header-container .logo-img img {
	height: 54px;
}

.header-container .logo .colmar {
	font-weight: bold;
}

.header-container .links-container .link {
	padding: 0 0 0 16px;
}

.header-container .links-container .link a {
	text-decoration: none;
	color: black;
}

/* Learn something new everyday */



/* News */
/* It doesn't hurt to keep practicing */



/* Minor news */



/* Start learning */



/* Thesis Exhibit*/
/* Reimagine urban */



/* Minor thesis */



/* Footer */